{% extends "myshop/base.html" %}
{% load static %}
{% block title %}
{% block css %}
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{{ product.name }}
{% endblock %}
{% block content %}

<section class="banner-bottom py-5">
        <div class="container py-md-5">
            <!-- product right -->
            <div class="left-ads-display wthree">
                <div class="row">
                    <div class="desc1-left col-md-6">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif %}" class="img-fluid" width="500"  >
                    </div>
                    <div class="desc1-right col-md-6 pl-lg-3">
                        <h2>{{product.name}}</h2>
                        <h5>₽ {{ product.price }} </h5>
                        <div class="available mt-3">
                            <form action="{% url 'cart:cart_add' product.id %}" method="POST" class="w3pvt-newsletter subscribe-sec">
        {{ cart_product_form }}
        {% csrf_token %}
        <button type="submit" value="В корзину"  class="btn btn-danger">В корзину</button>
    </form>         
                            <span><a href="{% url 'shop:product_list' %}">Продолжить покупки </a></span>
                         
                        </div>
                        <div class="share-desc mt-5">
                            <div class="share text-left">
                                <h3>Описание</h3>
                                <div class="social-ficons mt-4">
                                    <ul>
                                        <li>{{ product.description}}</li>
                                    
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <!--//row-->

            </div>
        </div>
    </section>





























{% endblock %}

