{% extends "myshop/base.html" %}
{% load static %}
{% block content %}


<div class="back">
	<h2>О нас</h2>
</div>
		<!---->
		<div class="container"> 
	  <div class="box_4">
	  	<div class="col-md-8 about_left">
	  		<h3>Сундучок сумки и рюкзаки, кожгалантерея </h3>
	        <img src="{% static 'images/res.jpg'%}" class="img-responsive" alt="">
		    <p> Один из наших магазинов.</p>
				<div class="faqs">
				       <h4>Почему мы?</h4>
				       <div class="questions">
							<h5>Товары</h5>
	        				<p> Главное, что объединяет наши товары – это неизменное качество, которое соответствует всем мировым требованиям и стандартам, за соблюдением которых следят наши лучшие специалисты.
Мы предлагаем выбор, а не иллюзию выбора, т.к. у нас действительно много различных моделей сумок и аксессуаров.
Мы работаем для того, чтобы Вам было комфортно и приятно делать у нас покупки. Стараемся создать такие условия, чтобы быть полезными каждому клиенту.</p>
	        		   </div>
	        		   
			        		   <div class="questions">
									<h5>Принципы</h5>
			        				<p>Основные принципы успешной работы сети «1000 и одна сумка»:</p>
<p>- постоянно обновляемый ассортимент</p>
<p>- контроль качества продукции</p>
<p>- профессиональное обслуживание</p>
<p>- доступная ценовая политика</p>
<p>- рекламные акции (скидки, распродажи)</p>
 индивидуального заказа товара в определенный магазин</p>		</div>				    
				   </div>  	
	  	</div>
	  	<div class="col-md-4 sidebar">
	  		      <h3>Наши отделы в г. Пскове</h3>
		  			    <div class="testimonials">
							

		  					 <h5>На карте<span><a href="#">Перейти</a></span></h5>
		  					 <p><span class="quotes"></span>ТРК Рижский 16 <span class="quotes-down"></span></p>
		  				</div>	
		  				<div class="testimonials">
		  					 <h5>На карте<span><a href="#">Перейти</a></span></h5>
		  					 <p><span class="quotes"></span>ТРК Рубин<span class="quotes-down"></span></p>
		  				</div>
		  				<div class="testimonials">
		  					 <h5>На карте<span><a href="#">Перейти</a></span></h5>
		  					 <p><span class="quotes"></span>ТК Звездный<span class="quotes-down"></span></p>
		  				</div>
			  		  				<div class="testimonials">
		  					 <h5>На карте<span><a href="#">Перейти</a></span></h5>
		  					 <p><span class="quotes"></span>Яна Фабрициуса 8<span class="quotes-down"></span></p>
		  				</div>
		  			
		  			
	  	</div>
	  	<div class="clearfix"> </div>
	  </div>
  
          	</div>
      
			<!---->
				<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>HAPPY SHOPPING</h3>
						<p>Lorem Ipsum sit amet consectuer adipiscing elit
sed diam nonummy nibh euismod</p>
					</div>
				</div>
{% endblock %}