{% extends "myshop/base.html" %}

{% block content %}
<div class="back">
	<h2>Контакты</h2>
</div>
		<!---->
		<div class="container">
			<div class="contact">
			
				<div class=" contact-top-in">
					<h3>Ближайший магазин</h3>
					<div class="map">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17000.2388291525!2d28.31025189276872!3d57.81781198790299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c01ece27d2de63%3A0x9f7504fa76bd5c87!2z0KHRg9C90LTRg9GH0L7Qug!5e0!3m2!1sru!2sru!4v1623696204710!5m2!1sru!2sru" frameborder="0" style="border:0" allowfullscreen></iframe>
											</div>
					<h2>Время работы</h2>
					<p>Пн 10:00 - 21:00</p>
<p>Вт 10:00 - 21:00</p>
<p>Ср 10:00 - 21:00</p>
<p>Чт 10:00 - 21:00</p>
<p>Пт 10:00 - 21:00</p>
<p>Сб 10:00 - 21:00</p>
<p>Вс 10:00 - 21:00</p>
				</div>
				<div class=" contact-top">
					<h3>Хотите сотрудничать с нами?</h3>
						<div>
							<span>Имя </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Ваш Email </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Контактный номер</span>		
							<input type="text" value="" >	
						</div>
						<div>
							<span>Сообщение</span>		
							<textarea> </textarea>	
						</div>
						<input type="submit" value="ОТПРАВИТЬ" >	
				</div>
		
		</div>
	</div>
<div class="bottom-grid1">
					
					<div class="fit1">
						<h3>Контактный телефон</h3>
						<p>+7-906-224-8012</p>
					</div>
				</div> 
{% endblock %}