{% extends "myshop/base.html" %}

{% block content %}
<div class="some123"></div>
<div class="banner">

		<div class="banner-top">
	         <h2>Добро пожаловать в сундучок</h2>
	         <p>В нашем магазине вы найдёте товар на любой вкус.<span>Сумки, портфели, зонты и портмоне - всё это ждёт вас в нашем магазине, а цены вас приятно удивят. Всегда рады вас видеть у нас.</span></p>
</div>
	<div class="now">
	         <a class="morebtn" href="product.html">О нас</a>
	         <a class="morebtn" href="{% url 'shop:product_list' %}">В магазин</a>
	         <div class="clearfix"> </div>
	         </div>
 	</div>	
</div>
 				<div class="clearfix"> </div>	

		<div class="sap_tabs">
			<div class="container">
			<label class="line"> </label>
			<h2>Популярные категории</h2>
						 <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						  <ul class="resp-tabs-list">
						  	  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Мужские ремни</span></li>
							  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Женские сумки</span></li>
							  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Чемоданы</span></li>
							  <div class="clearfix"></div>
						  </ul>				  	 
          </div>
         </div>
	</div>
	<!--start-shoes--> 
	<div class="goggles"> 
		<div class="container"> 
			<h2>Наши новинки</h2>
			<div class="product-one">
				{% for products in products_last %}
				<div class="col-md-3 product-left"> 
					<div class="p-one simpleCart_shelfItem">							
							<a href="{{ products.get_absolute_url }}">
								<img src="{{ products.image.url }}" alt="" />
								<div class="mask">
									<span></span>
								</div>
							</a>
						<h4>{{ products.name }}</h4>
						<p><a class="item_add" href="#"><i></i> <span class=" item_price">{{ products.price }}</span></a></p>
					
					</div>
				
				</div>
					{% endfor %}
				<div class="clearfix"> </div>
			</div>
			
		</div>
	</div>
	<!--end-shoes-->





{% endblock %}
