{% extends "myshop/base.html" %}

{% block content %}
</div>
</div>

<div class="container">
		<div class="account_grid">
			   <div class=" login-right">
			  	<h3>Зарегистрированным пользователям</h3>
				<p>Если у вас есть аккаунт, войдите.</p>
				<form action="." method="post">
                     {% csrf_token %}
				  <div>
					<span>Логин</span>
					{{ form.username }} 
				  </div>
				  <div>
					<span>Пароль</span>
					  {{ form.password }}
				  </div>
				  <a class="forgot" href="{% url 'shop:reset' %}">Забыли пароль?</a>
				  <input type="submit" value="Войти">
                      {% if form.errors %}
                <p class="validation-summary-errors">Пожалуста введите корректные имя пользователя и пароль.</p>
                {% endif %}
			    </form>

			   </div>	
			    <div class=" login-left">
			  	 <h3>Новый пользователь?</h3>

				 <a class="acount-btn" href="{% url 'shop:register' %}">Создать аккаунт</a>
			   </div>
			
			 </div>
		
			</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
	