{% extends "myshop/base.html" %}
{% load static %}
{% block content %}
<div class="container">
		<div class="register">
		<h3>Редактирование данных</h3>
		  	  <form> 
				
					
					<div class="mation">
					<div>
						<span>Логин</span>
						<input type="text"> 
					</div>
					<div>
						<span>Имя</span>
						<input type="text"> 
					</div>
					<div>
						<span>Фамилия</span>
						<input type="text"> 
					</div>
						<div>
						<span>Email</span>
						<input type="text"> 
					</div>
												<div>
						<span>Телефон</span>
						<input type="text"> 
					</div>
					 </div>
				     <input type="submit" value="Изменить">
				</form>
				
				
		   </div>
			</div>
{% endblock %}